{% extends "base_admin.html" %}
{% block title %} Section {% endblock %}
{% block body %}
<style>
  .card-title-container{
    overflow-x: hidden;
  }
  .card-title-container::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .card-title-container .card{
    background-color: #FFEECB;
    min-width: 250px;
    height: 250px;
  }
  .card-title-container .card .card-body .counter{
    text-align: justify;
    margin-bottom: 5px;
  }
  
  .welcome-section{
    font-style: italic;
    background-color: #B5924F;
    text-align: center;
    cursor: pointer;
    padding-bottom: 10px;
  }
  .add-quantity{
    font-size: 20px;
    font-weight: bold;
  }
  .update-delete{
    text-align: center;
  }
</style>

  {% if sections|length == 0 %}
  <h1 style="text-align: center;"> No sections present</h1>
  {% else %}   
  <div class="welcome-section">
    {% if admin is not none %}
    <h1 >Welcome {{ admin.name }} !!</h1>
    {% else %}
    <h1 >Welcome back </h1>
    {% endif %}
  </div>

  {% for sec in sections %}
    {% if loop.index is odd %}
      <div id="{{ sec.name|lower }}" style="height: 400px; background-color: #EFC882;">
    {% else %}
      <div id="{{ sec.name|lower }}" style="height: 410px; background-color: #B5924F;">
    {% endif %}
    <div>
      <h2 class="section-name ml-2">
        <a href="/showSection/{{ sec.s_id}}" style="color: #005B4C;">{{ sec.name }}</a>
      </h2>
      <button class="btn2 update-btn ml-2" onclick="window.location.href='/update_section/{{ sec.s_id }}'">Update</button>
      <button class="btn2 delete-btn ml-1" onclick="window.location.href='/delete_section/{{ sec.s_id }}'">Delete</button>
    </div>
    <div class="card-title-container my-2 products-container" style="display: flex; overflow-x: auto;">  
        {% for prod in products %}
        {% if prod.sec == sec %} <!-- Allowing only products which come under this section -->
        <div class="card mr-1 ml-4" style="width: 18rem;"> 
          <div class="card-body">
            <section id="product_{{ prod.p_id }}">
              <h5 class="card-title" style="text-align:center">{{ prod.name }}</h5>
            </section>
            <p class="card-text">
              Quantity: {{ prod.quantity }}<br>
              Rate: {{ prod.rate }} {{prod.units }}<br>
              Mnf: {{ prod.md }}<br>
              Exp: {{ prod.ed }} <!-- Displaying all the info such that admin knows if they want to add quantity in this or make a new batch of the same product -->
            </p>                        
            <form action="/sections" method="POST" class="add-quantity-form">
              <div class="counter">
                  <input type="hidden" name="p_id" value="{{ prod.p_id }}">
                  <input type="number" class="add-quantity-input" style="text-align:center;" name="quantity" min="0" max="1000" placeholder="0" size="2">
                  <input type="submit" class="add-quantity-btn" value="Add quantity">
              </div>
            </form>            
            <div class="update-delete">
              <button class="btn2 update-btn"  onclick="window.location.href='/update_product/{{ prod.p_id }}'">Update</button>
              <button class="btn2 delete-btn"  onclick="window.location.href='/delete_product/{{ prod.p_id }}'">Delete</button>
            </div>           
          </div>
        </div>
        
        {% endif %}
      {% endfor %}
    </div>
      <button class="btn2 ml-4" onclick="window.location.href='/addProduct'"> Add product  </button>
    </div>
    </div>
  {% endfor %}
  {% endif %}
  <br>
  <div class="buttons " style=" display:flex; justify-content: center;">
    <button class="btn2 mr-2"  onclick="window.location.href='/addSection'">Add section</button>
    <br>
    <button class="btn2 ml-2"  onclick="window.location.href='/products'">All products</button>
  </div>
  <br>
  
{% endblock %}
